<div class="h-100 ">
 
  <body class="d-flex h-100 text-center text-bg-dark">
    
    <div class="cover-container d-flex w-100 h-50 p-4 mx-auto flex-column ">
     
<div >
    <!-- <div > -->
      <div >                  
    
    <h1>Create a New Proposal</h1><p>(deploy a new Smart Contract, await 60 second and check in console you TX)</p>
    <br>
    <div class="form-container" style="display: flex; align-items: center; justify-content: center">
    <form [formGroup]="sub" class="form-horizontal">
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop1" #other type="string" placeholder="xch" class="form-control">
        </div>
      </div>
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop2" #other type="string" placeholder="eth" class="form-control">
        </div>
      </div>
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop3" #other type="string" placeholder="btc" class="form-control">
        </div>
      </div>
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop4" #other type="string" placeholder="xmr" class="form-control">
        </div>
      </div>
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop5" #other type="string" placeholder="trx" class="form-control">
        </div>
      </div>
      <div formGroupName="data" class="form-group row">
        <div class="col-md-1"></div>
        <!-- <label class="control-label col-sm-3" for="other">Proposal</label> -->
        <div class="col-sm-3">
          <input formControlName="prop6" #other type="string" placeholder="nexa" class="form-control">
        </div>
      </div>
      </form>
    </div>

            <br>
      
   <div>
   <div class="col-md-1"></div>
    <div >
    <button (click)="submitCreate(sub)" type="button" class="btn btn-outline-primary" id="submit" style="width: min-content;"> Submit</button>
   </div>
   </div>
   
  </div>
  </div>
  </div> 
   </body>
  </div>
