.px-2 {

    min-block-size: 950px;
    // border-radius: 20px;
    background-color: blue;
    }
    .body {
        background-color: midnightblue;
        min-width: 600px;
       
    }
    
    .btn-group-vertical {
        min-width: 300px;
        min-height: 400px;
        // text-align: justify;
    }
    .voteee{
        text-align: center;
        min-width: 500px;
    }
    .form-horizontal{
    //    display: 
       justify-content: center;
        // text-align: center;
        align-items: center;
        // align-content: center;
        // margin-left: 1.5rem;
        // width: 500px;
        // min-width: 200px;
        // background-color: darkgray;
    }

    .form-control{
        min-width: 250px;
    }

    // .formmmm {
    //    box-sizing: content-box;
    // }