<div class="h-100 ">

<body class="d-flex h-100 text-center text-bg-dark">
  
  <div class="cover-container d-flex w-100 h-50 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start px-1 mb-3"><h2>{{winner}}</h2><h6 *ngIf="wallet">is Proposal Winner </h6> </h3>
        <nav class="nav nav-masthead justify-content-center ">
          <!-- <a class="nav-link fw-bold py-1 px-1 active" aria-current="page" href="#">Goerli</a> -->
          <div><a class="nav-link fw-bold py-1 px-50" routerLink="/vote">Vote Now  </a></div>
          <div>
          <a class="nav-link fw-bold py-1 px-50" routerLink="/create-proposal">Create New Proposal</a>
          </div>  
          <div>
            <a class="nav-link fw-bold py-1 px-50" routerLink="/newVote">Vote a New Proposal</a>
            </div> 
          <!-- <a class="nav-link fw-bold py-1 px-1" href="#">Chia</a> -->
         
          
        </nav>
        <!-- <p class=" card text-bg-info container-xxl "> Your address: {{wallet}}</p> -->
      </div>
      
    </header>
    <router-outlet ></router-outlet>
 </div>

 </body>
    
    




    <footer class="footer" >
      <div class="">
      
      <a href="https://0xlean.tech" class="text-white">0xLean.tech</a> 
      <!-- <a href="https://github.com/leanlp" class="text-white">GitHub</a> | <a href="https://twitter.com/0xleanlp" img src="/angular/src/assets/twitter.svg" alt=""></a> -->
    </div>
    </footer>
  </div>

