.px-2 {

    min-block-size: 950px;
    // border-radius: 20px;
    }
    .body {
        min-width: 100vw;
    }
    
    .btn-group-vertical {
        min-width: 300px;
        min-height: 400px;
        // text-align: justify;
    }
    .voteee{
        text-align: center;
    }
    .form-horizontal{
        // text-align: center;
        // align-items: center;
        // align-content: center;
        margin-left: 150px;
    }